body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: black;
}

header {
    background: rgb(20, 20, 20);
    color: white;
    padding: 1px;
    text-align: center;
}

nav {
    background: rgb(20, 20, 20);
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 5px;
    text-decoration: none;
}

main {
    padding: 15px;
    background: black;
}

article {
    background: rgb(20, 20, 20);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

article h3,p,a {
    color: white;
}

aside {
    background: rgb(20, 20, 20);
    color: white;
    padding: 10px;
    margin-bottom: 15px;    
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.contatinhos {
    font-size: xx-large;
}